body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;

    /* background-color: #f4f4f4; */
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #ffffff;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
}

.signup-box {
    text-align: center;
}

.signup-box h1 {
    margin-bottom: 20px;
    color: #333;
}

.input-container {
    margin-bottom: 15px;
}

.input-field {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.signup-button {
    background: #007bff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.signup-button:hover {
    background: #0056b3;
}
